<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>fungame5</title>
  </head>
  <body>
    <div class="container-fluid">
      <button id="board_toggle">記分板</button>
      <button id="qrcode_btn">QRcode</button>
      <button id="three_more">抽三張</button>
      <h3>剩 <span id="remain">69</span> 張牌</h3>
      <div id="qrcode" style="display: none;text-align: center"></div>
    </div>
    <div class="container-fluid board_div">
      <table id="board">
        <tr>
          <th>玩家</th>
          <th>分數</th>
        </tr>
      </table>
    </div>
    <div class="container-fluid" id="extra_cards"></div>
    <div class="container-fluid" id="cards_div"></div>
    <div class="container-fluid text-center" id="players_div"></div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/jquery.qrcode.min.js"></script>
  <script type="text/javascript" src="/static/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/static/qrcode.js"></script>
  <script>
    var n = {{n | tojson}}
    var r = {{r | tojson}}
  </script>
  <script src="static/js/main.js"></script>
</html>
